In [18]:
import pandas as pd 
import numpy as np 
import csv

In [14]:
# with open("./SMSSpamCollection.csv",'r+') as data:
#     for line in data:
#         print(line.rstrip())

In [19]:
df = pd.read_csv("./SMSSpamCollection.csv",sep='\t', quoting=csv.QUOTE_NONE,names=["label", "message"])

df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [20]:
df.groupby('label').describe()

      message
        count unique                                                top freq
label
ham      4827   4518                             Sorry, I'll call later   30
spam      747    653  Please call our customer service representativ...    4

In [21]:
target = df['label']

## NLTK

In [23]:
import nltk 
nltk.download('all')

from nltk.tokenize import word_tokenize